<header>
    <div class="headerBlock">
        <div class="container">
            <h1>Our work</h1>
            <div class="fl">
                <div style="width: 100px; height: 100%; ">
                    <a href="#">
                        <img src="assets/image/left.png" class="left" alt="image">
                    </a>
                </div>
                <img src="assets/image/kuxnya.png"  class="kuxnya" alt="image">
                <div style="width: 100px; height: 100px;">
                    <a href="#">
                        <img src="assets/image/right.png" class="right" alt="image">
                    </a>
                </div>
            </div>
            <div class="circles">
                <a href="#">
                    <img src="assets/image/circle.png" alt="image">
                </a>
                <a href="#">
                    <img src="assets/image/circle-l.png" alt="image">
                </a>
                <a href="#">
                    <img src="assets/image/circle.png" alt="image">
                </a>
            </div>
        </div>
    </div>
</header>