.headerBlock {
    margin-top: 102px;
}
.headerBlock h1 {
    color: rgb(245, 245, 245);
    font-family: 'KyivType Sans Medium';
    font-size: 90px;
    font-weight: 500;
    line-height: 132.9%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    width: 532px;
    height: 120px;
    margin-bottom: 121px;
    margin-left: 248px;
}
.headerBlock .fl {
    justify-content: center;
}
.kuxnya {
    width: 1130px;
    height: 754px;
    border-radius: 42px;
}
.left{
    width: 52.08px;
    height: 50px;
}
.headerBlock .fl div {
    margin-top: 352px;
    text-align: center;
}
.headerBlock div.circles {
    text-align: center;
    margin-top: 26px;
}
.circles  img{
    width: 26px;
    height: 26px;
    margin-right: 18px;
}
@media screen and (max-width: 1400px) {
    .kuxnya {
        width: 83%;
        height: auto;
        border-radius: 42px;
    }
}
@media screen and (max-width: 1300px) {
    .kuxnya {
        width: 1009px;
        height: auto;
    }
    .headerBlock .fl div {
        margin-top: 0;
        text-align: center;
    }
    .headerBlock .fl {
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1262px) {
    .kuxnya {
        width: 987px;
    }
}
@media screen and (max-width: 1215px) {
    .kuxnya {
        width: 936px;
    }
}
@media screen and (max-width: 1157px) {
    .kuxnya {
        width: 872px;
    }
}
@media screen and (max-width: 1088px) {
    .headerBlock .fl div {
        width: 75px !important;
        height: 54px !important;
    }
    .kuxnya {
        width: 828px;
    }
}
@media screen and (max-width: 1041px) {
    .kuxnya {
        width: 742px;
    }
}
@media screen and (max-width: 1001px) {
    .kuxnya {
        width: 675px;
    }
    .circles img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
}
@media screen and (max-width: 933px) {
    .headerBlock {
        margin-top: 155px;
    }
    .headerBlock h1 {
        margin-bottom: 80px;
        margin-left: 219px;  
    }
}
@media screen and (max-width: 914px) {
    .headerBlock h1  {
        font-size: 80px;
    }
}
@media screen and (max-width: 835px) {
    .kuxnya {
        width: 605px;
        height: auto;
    }
}
@media screen and (max-width: 782px) {
    .headerBlock .fl div {
        width: 62px !important;
        height: 45px !important;
    }
    .left {
        width: 45px;
        height: 45px;
    }
    .right {
        width: 45px;
        height: 45px;
    }
}
@media screen and (max-width: 750px) {
    .headerBlock h1 {
        margin-bottom: 55px;
        margin-left: 180px;
        font-size: 75px;
        width: 495px;
    }
}
@media screen and (max-width: 740px) {
    /* .header-block {
        margin-left: 115px;
        width: 84%;
    } */
    .headerBlock {
        margin-top: 120px;
    }
    .headerBlock h1 {
        margin-bottom: 45px;
        margin-left: 100px;
        font-size: 66px;
        width: 455px;
        height: 100px;
    }
    .kuxnya {
        width: 565px;
    }
    .circles img {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
}
@media screen and (max-width: 695px) {
    .kuxnya {
        width: 485px;
    }
}
@media screen and (max-width: 615px) {
    .headerBlock .fl div {
        width: 45px !important;
        height: 35px !important;
    }
    .left {
        width: 35px;
        height: 35px;
    }
    .kuxnya {
        width: 440px;
    }
    .right {
        width: 35px;
        height: 35px;
    }
}
@media screen and (max-width: 565px) {
    .headerBlock h1 {
        margin-left: 100px;
        font-size: 60px;
        width: 395px;
    }
}
@media screen and (max-width: 535px) {
    .headerBlock h1 {
        margin-left: 95px;
        font-size: 55px;
        width: 335px;
        margin-bottom: 25px;
    }
    .kuxnya {
        width: 395px;
    }
}
@media screen and (max-width: 500px) {
    .headerBlock h1 {
        margin-left: 45px;
        font-size: 50px;
        width: 310px;
        height: 75px;
    }
    .kuxnya {
        width: 380px;
    }
    .circles img {
        width: 13px;
        height: 13px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 475px) {
    .kuxnya {
        width: 350px;
    }
}
@media screen and (max-width: 445px) {
    .headerBlock .fl div {
        width: 38px !important;
        height: 28px !important;
    }
    .kuxnya {
        width: 319px;
    }
    .left,.right {
        width: 28px;
        height: 28px;
    }
    .headerBlock div.circles {
        margin-top: 13px;
    }
    .circles img {
        width: 10px;
        height: 10px;
    }
}