<footer>
    <div class="footer-block fl">
        <div class="fl">
            <a href="#" class="logo"><img src="assets/image/logo.png" alt="image"></a>
            <div class="log-bio">
                <img src="assets/image/bio.png" alt="image" class="bio">
                <img src="assets/image/cwt.png" alt="image" class="swt">
            </div>
        </div>
        <div class="cell">
            <img src="assets/image/phone_call.png" alt="image">
            <a href="tell:+420 000 000 000">+420 000 000 000</a>
        </div>
        <div class="geo">
            <img src="assets/image/geo_alt.png" alt="image">
            <address>
                Na Plzeňce 1166/0 <br>
                150 00
            </address>
        </div>
    </div>
    <a href="./prices-for-services.html" class="privacy">Privacy Policy</a>
</footer>