<header>
    <app-nav [customStyle]="parentStyle"></app-nav>
</header>
<main>
    <section>
        <div class="container">
            <div class="fl">
                <div class="cont">
                    <h1>
                        Contact
                    </h1>
                    <div class="cell">
                        <img src="/assets/image/phone_call.png" alt="image">
                        <a href="tell:+420 000 000 000">+420 000 000 000</a>
                    </div>
                    <div class="geo">
                        <img src="/assets/image/geo_alt.png" alt="image">
                        <address>
                            Na Plzeňce 1166/0 <br>
                            150 00
                        </address>
                    </div>
                </div>
                <span class="map">
                    <img src="/assets/image/map.png" alt="map" usemap="#map" width="400" height="379">

                    <map name="map">
                        <area shape="rect" coords="34,44,270,350" alt="map" href="https://maps.app.goo.gl/pUz4aoW1mmPtqLYp9">
                    </map>
                </span>
            </div>
        </div>
    </section>
</main>