<main>
    <section class="secBlock1">
        <div class="container">
            <h2>THE WOOD WE WORK WITH</h2>
            <div class="fl">
                <div class="secBlock1-1">
                    <img src="assets/image/oak.png" alt="image">
                    <h4>Oak</h4>
                    <ul>
                        <li>Durability</li>
                        <li>Beautiful texture</li>
                        <li>Water resistance</li>
                        <li>Expensive</li>
                    </ul>
                </div>
                <div class="secBlock1-2">
                    <img src="assets/image/buk.png" alt="image">
                    <h4>Buk</h4>
                    <ul>
                        <li>Durability</li>
                        <li>Hard to handle</li>
                    </ul>
                </div>
                <div class="secBlock1-3">
                    <img src="assets/image/ash.png" alt="image">
                    <h4>Ash</h4>
                    <ul>
                        <li>Durability</li>
                        <li>Hard to handle</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <app-gallery-header></app-gallery-header>
    <section class="secBlock3">
        <div class="container">
            <h2>
                Advantages
                working with us
            </h2>
            <div class="fl">
                <img src="assets/image/video.png" alt="image">
                <div>
                    <p>
                        In-house carpentry production
                    </p>
                    <p>
                        We only treat wood with
                        environmentally friendly 
                        and safe products
                    </p>
                    <p>
                        Prices from the manufacturer,
                        no extra charges
                    </p>
                </div>
            </div>
            <a href="#" class="button">Receive a consultation</a>
        </div>
    </section>
    <app-about-header></app-about-header>
</main>