<header>
    <div class="headerBlock">
        <div class="container">
            <div class="fl">
                <div class="text">
                    <h1>
                        About us
                    </h1>
                    <p>
                        <b> BIO CWT </b>
                        - We manufacture solid wood products
                        according to individual drawings.
                        We make chairs, armchairs, wardrobes,
                        beds and much more in our own workshop,
                        equipped with all the necessary
                         industrial equipment.
                    </p>
                </div>
                <div class="img">
                    <img src="assets/image/about1.png" alt="image" class="img4-1"><br>
                    <img src="assets/image/about2.png" alt="image" class="img4-2"><br>
                    <img src="assets/image/about3.png" alt="image" class="img4-3">
                </div>
            </div>
        </div>
    </div>
</header>