<nav class="nav-block" [ngStyle]="{customStyle, zIns}">
    <div class="logo fl">
        <a href="#" >
            <img src="assets/image/logo.png" alt="imagelogo">
        </a>
        <div class="log-bio">
            <a href="#">
                <img src="assets/image/bio.png" alt="imagebio">
            </a>
            <a href="#">
                <img src="assets/image/cwt.png" alt="imagecwt">
            </a>
        </div>
    </div>
    <div class="pages">
        <a routerLink="/layout/gallery">Gallery</a>
        <a routerLink="/layout/prices">Prices for services</a>
        <a routerLink="/layout/about">About us</a>
        <a routerLink="/layout/contact">Contact</a>
    </div>
    <div class="dropdown">
        <button class="dropbtn"><img src="assets/image/mobmenu.png" alt="menu"></button>
        <div class="dropdown-content">
            <a routerLink="/layout/gallery">Gallery</a>
            <a routerLink="/layout/prices">Prices for services</a>
            <a routerLink="/layout/about">About us</a>
            <a routerLink="/layout/contact">Contact</a>
        </div>
    </div>
</nav>