<header>
    <div class="img1" style="background-color: rgba(34, 32, 33, 0.49);">
        <app-nav></app-nav>
        <div class="header-block">
            <div class="fl">
                <div class="descr">
                    <h1>Solid wood products</h1>
                    <h2>Oak, beech, ash from <b>1700 CZK</b> per m3</h2>
                    <a href="#">Order</a><br>
                    <hr>
                </div>
                <div class="line1"></div>
                <div class="images-block">
                    <img src="assets/image/home1.png" alt="image" class="img1-1"><br>
                    <img src="assets/image/home2.png" alt="image" class="img1-2"><br>
                    <img src="assets/image/home3.png" alt="image" class="img1-3">
                </div>
            </div>
        </div>
    </div>
</header>