@import url(./assets/fonts/transfonter.org-20241201-100110/stylesheet.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration-line: none;
}
.fl {
    display: flex;
    flex-wrap: wrap;
}