<section class="secBlock">
    <div class="container">
        <h2>Any questions?</h2>
        <div class="fl">
            <form method="get" [formGroup]="form" (ngSubmit)="submit()">
                <input type="text" placeholder="Your name" name="name">
                <input type="tel" name="tell:" placeholder="Your telephone number">
                <textarea name="question" placeholder="Your question"></textarea>
                <button>Send</button>
            </form>
            <div>
                <p>
                    Write to us and we will be sure to answer 
                    all your questions and give you a
                    comprehensive consultation.
                </p>
                <img src="../../../assets/image/about-main-last.png" alt="image">
            </div>
        </div>
    </div>
</section>